
/Intermediate
/Saved
/Plugins/RenderTargetSerializer/Intermediate
/Plugins/RenderTargetSerializer/Binaries
/Plugins/RenderTargetSerializer/Intermediate
/.vs
/Binaries
/Plugins/RenderTargetSerializer/Intermediate
